.btnLoadMore {
  margin: 0 auto;
  margin-bottom: 36px;
  display: flex;
  background-color: #545352;
  color: white;
  border-color: rgb(71, 70, 70);

  &:hover {
    border-color: rgb(60, 60, 60);
    box-shadow: 0 5px 10px 0 rgb(63, 63, 62);
    transition: transform 300ms linear 0ms, box-shadow 300ms linear 0ms;
  }
}
